body {margin: 0; padding: 0; background-color: #ededed; font: 1.1em verdana, arial;}

/* For divs that change dimensions when afected by margin, padding or a border. */
* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header {
	background-color: #ededed; 
	text-align: center;
}
#container {
	min-height: 500px; 
	background-color: white;
}
#content {
	max-width: 800px; 
	margin: 0 auto; 
	padding: 10px;
}
#footer {
	padding: 10px; 
	text-align: center;
}
